<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <mvc:annotation-driven/>
    <context:property-placeholder location="classpath:application.properties"/>

    <bean class="com.laszloborbely.spring_demo.services.GreetingServiceImpl" id="greetingService">
        <property name="greetingPrefix" value="${greeting.prefix}"/>
    </bean>

    <bean class="com.laszloborbely.spring_demo.controllers.GreetingController" id="greetingController">
        <property name="greetingService" ref="greetingService"/>
    </bean>

</beans>